@model IEnumerable<WebApplication13.Models.CuaHang>

@foreach (var item in Model)
{
    <div class="social-feed">
        <div class="row" style="color:black">
            <p>@item.displayName : </p>
            <p>@item.DiaChi</p>
        </div>
    </div>
}

