@*<div class="row title-row">
        <div class="col-md-4 ml-auto">
            <a style="color:black" href="@Url.Action("Client_Giohang","Client_Giohang")" class="btn btn-white float-right"><i class="material-icons">shopping_cart</i><b> @ViewBag.TongSoLuong Items</b></a>
        </div>
    </div>*@
<li class=" nav-item">
    <a style="color:black" href="@Url.Action("Client_Giohang","Client_Giohang")" class="btn btn-white float-right"><i class="material-icons">shopping_cart</i><b> @ViewBag.TongSoLuong Items</b></a>

</li>
