
@{
    ViewBag.Title = "Result";
    Layout = "~/Areas/Client/Views/Layout/_LayoutClient.cshtml";
}


<div class="main main-raised">
    <div class="container">
        <div class="card card-plain">
            <div class="card-body ml-5">
                <h3 class="card-title"> Xin Chúc Mừng</h3>
                <ul>
                    <li>
                        <p id="Result">Đơn Hàng Của Bạn Đã được tạo thành công </p>
                    </li>
                    <li>
                        <p id="Result">Thời gian giao hàng dự kiến: </p>
                    </li>
                    <li>
                        <p id="Result">cám ơn bạn đã tin tưởng và ủng hộ</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<style>

    #Result {
        font-size: 20px
    }
</style>
