<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="https://demos.creative-tim.com/material-kit-pro/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="https://demos.creative-tim.com/material-kit-pro/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Website Bán Hàng
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css.css">
    <link rel="stylesheet" href="~/Content/Client/font-awesome.css">
    <!-- CSS Files -->
    <link href="~/Content/Client/material-kit.css" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->

    <script type="text/javascript" charset="UTF-8" src="~/Content/Client/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Client/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Client/AuthenticationService.Authenticate"></script>
</head>
<body class="ecommerce-page sidebar-collapse" style=" ">
    <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="@Url.Action("Index","Client_TrangChu")">
                    Client
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    @*<li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">apps</i> Components
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="https://demos.creative-tim.com/material-kit-pro/presentation.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Presentation
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/index.html" class="dropdown-item">
                                    <i class="material-icons">line_style</i> All Components
                                </a>
                                <a href="http://demos.creative-tim.com/material-kit-pro/docs/2.1/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> Documentation
                                </a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">view_day</i> Sections
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#headers" class="dropdown-item">
                                    <i class="material-icons">dns</i> Headers
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#features" class="dropdown-item">
                                    <i class="material-icons">build</i> Features
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#blogs" class="dropdown-item">
                                    <i class="material-icons">list</i> Blogs
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#teams" class="dropdown-item">
                                    <i class="material-icons">people</i> Teams
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#projects" class="dropdown-item">
                                    <i class="material-icons">assignment</i> Projects
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#pricing" class="dropdown-item">
                                    <i class="material-icons">monetization_on</i> Pricing
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#testimonials" class="dropdown-item">
                                    <i class="material-icons">chat</i> Testimonials
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/sections.html#contactus" class="dropdown-item">
                                    <i class="material-icons">call</i> Contacts
                                </a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">view_carousel</i> Examples
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/about-us.html" class="dropdown-item">
                                    <i class="material-icons">account_balance</i> About Us
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/blog-post.html" class="dropdown-item">
                                    <i class="material-icons">art_track</i> Blog Post
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/blog-posts.html" class="dropdown-item">
                                    <i class="material-icons">view_quilt</i> Blog Posts
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/contact-us.html" class="dropdown-item">
                                    <i class="material-icons">location_on</i> Contact Us
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/landing-page.html" class="dropdown-item">
                                    <i class="material-icons">view_day</i> Landing Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/login-page.html" class="dropdown-item">
                                    <i class="material-icons">fingerprint</i> Login Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/pricing.html" class="dropdown-item">
                                    <i class="material-icons">attach_money</i> Pricing Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/shopping-cart.html" class="dropdown-item">
                                    <i class="material-icons">shopping_basket</i> Shopping Cart
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/ecommerce.html" class="dropdown-item">
                                    <i class="material-icons">store</i> Ecommerce Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/product-page.html" class="dropdown-item">
                                    <i class="material-icons">shopping_cart</i> Product Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/profile-page.html" class="dropdown-item">
                                    <i class="material-icons">account_circle</i> Profile Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/signup-page.html" class="dropdown-item">
                                    <i class="material-icons">person_add</i> Signup Page
                                </a>
                                <a href="https://demos.creative-tim.com/material-kit-pro/examples/error.html" class="dropdown-item">
                                    <i class="material-icons">error</i> Error Page
                                </a>
                            </div>
                        </li>*@
                    @Html.Action("GioHangPartial", "Client_GioHang")
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(../../../../Content/Client/Img/HomePage.png); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="brand">
                        <h1 class="title">Website Quản Lý Chuỗi Cửa Hàng</h1>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--Noi bat-->

    <div>
        @RenderBody()
    </div>

    <footer class="footer footer-black footer-big " style="padding-bottom:2px">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About Us</h5>
                        <p>Creative Tim is a startup that creates design tools that make the web development process faster and easier. </p>

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <h5>Địa chỉ các chi nhánh </h5>
                        @Html.Action("Partial_footer_cuahangaddress", "Client_partial")
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="~/Content/Client/jquery.js" type="text/javascript"></script>
    <script src="~/Content/Client/popper.js" type="text/javascript"></script>
    <script src="~/Content/Client/bootstrap-material-design.js" type="text/javascript"></script>
    <script src="~/Content/Client/moment.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/Content/Client/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/Client/nouislider.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script src="~/Content/Client/js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async="" defer="defer" src="~/Content/Client/buttons.js"></script>
    <!--	Plugin for Sharrre btn -->
    <script src="~/Content/Client/jquery_002.js" type="text/javascript"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/Client/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/Client/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/Client/jasny-bootstrap.js" type="text/javascript"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="~/Content/Client/jquery_003.js" type="text/javascript"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="~/Content/Client/modernizr.js" type="text/javascript"></script>
    <script src="~/Content/Client/vertical-nav.js" type="text/javascript"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async="" defer="defer" src="~/Content/Client/buttons.js"></script>
    <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
    <script src="~/Content/Client/demo.js" type="text/javascript"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/Client/material-kit.js" type="text/javascript"></script>


    <script>
        $(document).ready(function () {
            var slider2 = document.getElementById('sliderRefine');

            noUiSlider.create(slider2, {
                start: [101, 790],
                connect: true,
                range: {
                    'min': [30],
                    'max': [900]
                }
            });

            var limitFieldMin = document.getElementById('price-left');
            var limitFieldMax = document.getElementById('price-right');

            slider2.noUiSlider.on('update', function (values, handle) {
                if (handle) {
                    limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
                } else {
                    limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
                }
            });
        });
    </script>



</body>
</html>
