@model IEnumerable<WebApplication13.Models.LoaiSP>

@{

    Layout = "~/Views/Layout/_LayoutAdminNew.cshtml";
}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <div style="font-size:35px" class="font-weight-bolder">
                                Loại Sản Phẩm
                            </div>
                            <div class="ripple-container"></div>
                        </div>
                    </div>
                    <div class="card-body ml-5" style="padding-right:70px">
                        <div class="table-responsive">
                            <table class="table" style="font-size:18px">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Mã Loại
                                        </th>
                                        <th>
                                            Tên Loại
                                        </th>
                                        <th>
                                            Chú Thích
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.LoaiSPId
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenLoai)
                                            </td>
                                            <td></td>
                                            <td>
                                                <a href="@Url.Action("Edit","LoaiSPs",new { id = item.LoaiSPId })" class="btn btn-info btn-round" data-original-title="" title="">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a href="@Url.Action("Delete","LoaiSPs",new { id = item.LoaiSPId })" class="btn btn-danger btn-round" data-original-title="" title="">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










