@model WebApplication13.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Layout/_LayoutDangNhapAdmin.cshtml";
}


@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
<div class="" style="color:wheat">
    <h4 style="font-size:25px">XÁC THỰC ĐĂNG NHẬP</h4>
    <hr class="border-cyan" />
    <div class="row">
        <div class="col-md-12">
            <label class="mr-5" style="font-size:20px">Chọn Hình Thức Xác Thực :</label>
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <hr style="margin-top:30px" class="border-cyan"/>
            <input type="submit" value="Gửi Mã Xác Nhận" class="btn btn-outline-orange float-right" />
        </div>
    </div>
</div>
}

