@model IEnumerable<WebApplication13.Models.SanPham>

@{
    ViewBag.Title = "KiemTraTonKho";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title" style="font-size:30px">Kiểm Tra Tồn Kho</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped row-border ">
                            <thead style="background-color:bisque;font-size:25px " class="text-center">
                                <tr>
                                    <th width="250px">Tên Sản Phẩm</th>
                                    <th width="250px">Loại Sản Phẩm</th>
                                    <th width="200px">Số Lượng</th>
                                    <th width="200px">Đơn Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr style="text-align:center; height:50px">


                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenSP)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoaiSP.TenLoai)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoLuong)
                                        </td>


                                        <td>
                                            @string.Format("{0:0,0}", item.DonGia)
                                        </td>

                                    </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<!-- this page js -->
<script src="~/Admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/Admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/Admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable(
        {

        }
    );


</script>

