
@{
    Layout = "~/Views/Layout/_LayoutAdminNew.cshtml";
}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <div style="font-size:35px" class="font-weight-bolder">
                                <i class="material-icons">add_circle_outline</i>
                                Quản Lý Kho Hàng
                            </div>
                            <div class="ripple-container"></div>
                        </div>
                    </div>
                    <div class="card-body ml-5" style="padding-right:70px">
                        <div class="table-responsive">
                            <table class="table" style="font-size:18px">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Mã Phiếu
                                        </th>
                                        <th>
                                            Tên Phiếu
                                        </th>
                                        <th>
                                            Chú Thích
                                        </th>
                                        <th>

                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










